@font-face {
    font-family: Roboto;
    src: url(./Roboto-Thin.ttf);
}
body {
    font-family: Roboto;
    padding: 25px;
    color: #343a40;
}
.darkmode {
    background-color: #121212;
    color: white;
  }
.icn-dark {
    background-image: url(./dark.png);
}