@font-face {
    font-family: Roboto;
    src: url(./Roboto-Thin.ttf);
}
body {
    font-family: Roboto;
    padding: 25px;
    background-color: #121212;
    color: white;
}
.pos-center {
    top: 40%;
    left: 50%;
    position: fixed;
	transform: translate(-50%,-40%);
}
.btn-app {
    background-color: #264653;
    border-radius: 9px;
    border: none;
}
.btn-app:hover {
    background-color: #2a9d8f;
}